<h1>{{title}}</h1>

<div class="row">
    <form class="addBookForm col s12" action="/books" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input name="title" placeholder="Enter book title here." id="title" type="text" required/>
          <label for="title">Book Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="genre" placeholder="Enter the genre here." id="genre" type="text" required>
          <label for="genre">Genre</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="cover" placeholder="Enter image URL here." id="cover" type="text" required>
          <label for="cover">Cover Image</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="description" placeholder="Enter a short description here." id="description" type="text" required>
          <label for="description">Description</label>
        </div>
      </div>
      <!-- <div class="row">
        <div class="input-field col s6">
          <input placeholder="Enter the author here." id="newBookAuthor" type="text" required>
          <label for="title">Author</label>
        </div>
      </div> -->

          <button  type="submit" class="addButton waves-effect waves-light btn-large"><i class="material-icons left">done</i>Submit</button>


    </form>
  </div>
