
<div class="titleContainer flex">
  <div><h3>{{page_name}}</h3></div>
</div>

<div class="bookButton row">
    <a  href="/add" class="waves-effect waves-light btn-large"><i class="material-icons left">playlist_add</i>Add a Book</a>
    <a  href="/delete" class="deleteButton waves-effect waves-light btn-large"><i class="material-icons left">not_interested</i>Delete a Book</a>
</div>

{{#each data}}
<ul class="noBullet">
  <div class = "row eachBook">
    <div class = "col s4 m4 l4">
      <li>
        <img class = "book" src = {{cover}}></img>
      </div>
        <h4>{{title}}</h4>
        <p>{{description}}</p>
      </li>
  </div>
</ul>

{{/each}}
