<p>Index</p>

<div class="row">
    <div class= "col s6 m6 l6 flex">
      <a href = "/authors">
        <div class= "mainDivCentered">
          <p class="centered">Authors</p>
        </div>
      </a>
    </div>
    <div class= "col s6 m6 l6 flex">
      <a href = "/books">
        <div class= "mainDivCentered">
          <p class="centered">Books</p>
        </div>
      </a>
    </div>
</div>
