<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="readsNavBar">
      <img class = "readsLogo" src = {{logo}}></img>
      <h1>{{title}}</h1>
    </div>
    {{{body}}}
  </body>
</html>
