body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.readsNavBar {
  display: flex;
}
.readsLogo {
  height: 16vh;
  width: 16vh;
  padding: 2%;
}
.mainDivCentered {
  width: 40vw;
  height: 40vh;
  border: 1px solid black;
}
.inlineBlock {
  display: inline-block;
}
.flex {
  display: flex;
}
.centered {
  text-align: center;
}
.noBullet {
list-style-type: none;
}
.titleContainer {
  justify-content: space-between;
}
.addABook {
  text-align: right;
  justify-content: flex-end;
  width: 100%;
}
.addBookText {
  height: 10vh;
  width: 10vw;
  background-color: blue;
}
.deleteButton {
  margin-left: 2vw;
}
.bookButton{
  margin-bottom: 6vh;
}
.book {
  width: 20vw;
}
.eachBook {
  margin-bottom: 5vh;
}
.addButton {
  width: 100% !important;
}
