/*font-family: 'Special Elite', cursive;
font-family: 'Oswald', sans-serif;*/
html {
  /*background: url("../images/library.jpg");
  /*-webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;*/
  /*height: 100vh;
  width: 100vw;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/library.jpg") no-repeat center center fixed;
  background-size:cover;
}
body {
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url("../images/library.jpg") no-repeat center center fixed;
  background-size:cover;*/
}
a {
  color: #00B7FF;
}
.card {
  width: 300px !important;
  margin: 2%;
}
.mainPg {
  margin: 8%;
}
.background {
  width:100vw;
  height: auto;
  position: absolute;
  overflow: hidden;
}
.nav-wrapper {
  width: 100%;
}
.readsNavBar {
  display: flex;
}
.readsLogo {
  height: 16vh;
  width: 16vh;
  padding: 2%;
}
.mainDivCentered {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  /*border: 1px solid black;*/
}
.inlineBlock {
  display: inline-block;
}
.flex {
  vertical-align: middle;
}
.centered {
  width: 100%;
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 4rem;
  text-align: center;
  background-color: #e57373;
  opacity: .8;
  padding: 3rem;
  -webkit-box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
}
.centered:hover {
  opacity: .99;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.noBullet {
  list-style-type: none;
}
.eachBook {
    /*display: flex;*/
}
.titleContainer {
  justify-content: space-between;
}
.addABook {
  text-align: right;
  justify-content: flex-end;
  width: 100%;
}
.addBookText {
  height: 10vh;
  width: 10vw;
  background-color: blue;
}
.deleteButton {
  margin-left: 0;
  align-self: flex-end;
}
.editButton {
  margin-left: 2vw;
}
.bookButton{
  margin-bottom: 6vh;
}
.book {
  width: 20vw;
}
.eachBook {
  margin-bottom: 5vh;
}
.addButton {
  width: 100% !important;
}
